body,h1,h2,h3,h4,h5,h6,span,input,label,small{
  font-family: 'Roboto' !important;
}
button{
  background-color: #fbd43b !important;
}
form{
  padding: 3rem 0.75rem;
}
/*Estilos primera pantalla*/
.firstScreen,
.secondScreen,
.threeScreen{
  padding-top: 6rem;
}
.margin-1r{
  margin-left: 1rem !important;
}
.carousel{
  height: 28rem !important;
}
.carousel-h1{
  font-size: 1.7rem !important;
  font-weight: 700;
  color: black;
}
.carousel-p,
.phone-p{
  color: #8f8f8f;
  margin: 0 1rem !important;
}
.indicator-item{
  background-color: #f8f8f8 !important;
}
.indicator-item.active{
  background-color: #f64552 !important;
}
.btn-firstScreen{
  margin: auto;
}
/*Estilos de segunda pantalla*/
.phone-h1{
  font-size: 1.4rem !important;
  font-weight: 700;
  line-height: 2.5rem;
}
.phone-p{
  margin: 0 !important;
}
.icon-phone{
  position: absolute;
}
.input-phone{
  padding-left: 6rem !important;
  margin-left: 1rem !important;
  width: 90% !important;
}
.input-ckeck{
  position: static !important;
  opacity: inherit !important;
}
[type="checkbox"].filled-in:not(:checked)+label:after{
  border: 2px solid #d0c9c9;
  border-radius: 5px;
}
.btn-secondScreen{
  margin-top: 5rem;
}
.icon-lock{
  padding: 0 1.1rem !important;
  position: relative !important;
  top: 3rem;
}
/*estilos pantalla cuatro*/
.icon-register{
  position: relative;
  top: 3rem;
}
.margin-b{
  margin-bottom: 0 !important;
  width: 91% !important;
}
.padding-1em{
  padding: 0 1em !important;;
}
.margin-t-b{
  margin: 1.5em 0 !important;
}
/*esltilos quinta pantalla*/
.fondo-good{
  height: 100vh;
  padding-top: 50%;
  background-color: #fbd43b
}
.p-good{
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: #49233b !important;
}
